<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
    <meta name="keywords" content="">
  </head>
  <body>
    <header class="navbar navbar-toggleable-md d-block">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="{{ site.url }}/assets/image/logo.svg"></a>
      </div>
    </header>
    <div class="top-image">
      <img src="{{ site.url }}/assets/image/corp_label.svg" class="top-image__text">
      <div class="top-image__blur">
      </div>
    </div>
    <div class="container my-5">
      {{ content }}
    </div>
    <footer class="footer">
      <div class="container text-center">
        <span class="">©2017 Countir Bank .Inc</span>
      </div>
    </footer>
  </body>
</html>
